<h1 class="my-5">Stupide Coaching</h1>


<form action="/answer" class="input-group" data-turbo="false">
  <input type="text" class="form-control" name="asked" >
  <input type="submit" class="btn btn-primary" value="Ask!">
</form>
